# SIT742: Modern Data Science 
**(Week 01: Programming Python)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.

Prepared by **SIT742 Teaching Team**


---


# Session 1B - Control Flow, File usage, and Advanced data

## Introduction

Normally, 
*Python* executes a series of statement in exact top-down order. 
What if you want to change the flow how it works? 
As you might have guessed, in this prac, we will first look at **control flow**
 statements. We are going to practice on three control flow statements, i.e., 
**if**, **for** and **while**, to see how they can 
determine what statement is to be executed next in a program.  

Second, we will look at how to create, read, and write files in *Python*. 
We have  obtained data via interation with users in previous prac. Now let us 
explore how  to deal with files  to get input of a program and write 
output that can be used later. 



Finally, we will learn about advanced data types in addition to the **strings** 
and **number** learnt before.  We will examine **lists**, **tuples**
and **dictionarys** used for a collection of related data.

<a id = "cell_tuple"></a>

## Table of Content

### Part 1 Control Flow

1.1 [**If** statements](#cell_if)

1.2 [**For** statements](#cell_for)

1.3 [**While** statements](#cell_while)

1.4 [**Break** statements](#cell_break)

1.5 [Notes on Python 2](#cell_note)

### Part2 Using files

2.1 [Reading files](#cell_read)

2.2 [Writing files](#cell_write)

### Part3 Advanced data

3.1 [List](#cell_list)

3.2 [Tuple](#cell_tuple)

3.3 [Dictionary](#cell_dict)

## Part 1 Control flow

<a id = "cell_if"></a>

### 1.1 **If** statements

The **if** statement is used to check a condition: **if** the condition is true, we run a block of statements(**if-block**), **else** we process another block of statement(**else-block**). The **else** clause is optional. The condition is usually a boolean expression, which can have value of **True** or **False**. 

Often  we have a block of statement  inside  either **if-block** or **else-block**. In this case,   you need to especially pay attention to the indentation of the statements in the block. Indenting starts a block and unindenting ends it. As a general practice, Python style guide recommend using 4 white spaces for indenting a block, and not using tabs. If you get indentation error message from Python interpretor, you  will need to check your code carefully.

In [ ]:
x = 15
if x % 2 == 0:
   print('%d is even' % x)
                else:
    print('%d is odd' % x)
    
print('This is always printed')


Try change **x** to even number and run the program again.

The else-block  in **if** statement is optional. If  the **else** block is omitted,  the statements in **if**-block are executed when the condition equal to **True**. Otherwise, the flow of execution continues to the statement after the **if** structure. 

Try the following code:

In [ ]:
x = -2
if x < 0:
    print("The negative number %d  is not valid here." % x)
    
print("This is always printed")

What will be printed if  the value of **x** is negative?


**If** statement can also be nested within another. Further **if** structure  can  either be nested in **if-block** or **else-block**. Here is an example with another **if** structure nested in **else-block**. 

This example assume we have two integer variables, **x** and **y**. The code shows how we might decide how they are related to each other.

In [ ]:
x = 10
y = 10

if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

Here we can  see that the indentation pattern can tell the Python interpretor exactly which **else** belong to which **if**. 

Python also provides an alternative way to write nested **if** statement. We need to  use keyword **elif**. The above example is equivalent to :

In [ ]:
x = 10
y = 10

if (x < y):
    print("x is less than y")
elif (x > y):
    print("x is greater than y")
else:
    print("x and y must be equal")

**elif** is an abbreviation of **else if**. With above structure, each condition is checked in order. If one of them is **True**, the corresponding branch executes. Even if more than one condition is **True**, only the first **True** branch executes. 

There is no limit of the number of **elif** statements. but only a single final **else** statement is allowed. The **else** statement must be the last branch in the statement.

<a id = "cell_for"></a>

### 1.2 **For** statements
Computers are often used to automate repetitive tasks. Repeated execution of a sequence of statements is called iteration. Two language features provided by Python are **while** and **for** statement. We first take a look an example of **for** statement:

In [ ]:
for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki"]:
    print("Hi %s Please come to my party on Saturday!" % name)

This example assume we have some friends, and we would like to send them an invitation to our party. With all the name in the list, we can print a message for each friend. 

This is how the **for** statement works:

1. **name** in the **for** statement is called loop variables, and the names in the square brackets is called **list** in Python. We will cover more details on list in next prac. For now, you just need to know how to use  simple list in  a **for** loop. 

2.  The second line in the program is the **loop body**. All the statements in the loop body is indented.

3.  On each iteration  of the loop, the loop variable is updated to refer to the next item in the list. In the above case, the loop body is executed 7 times, and each time name will refer to a different fiend. 

4. At the end of each execution of the body of the loop, Python returns to the **for** statement to handle the next items. This continues until there are no item left. Then program execution continues at the next statement after the loop body.

One function commonly used in loop statement is **range()**.
	
Let us first have a look at the following example:

In [ ]:
for i in [0, 1, 2, 3, 4 ]:
    print( 'The count is %d' % i)

Actually generating lists with a specific number of integers is a very common task, especially in **for** loop. For this purpose,  Python provides a built-in **range()** function to generate a sequence of values. An alternative way of performing above counting using **range()** is as follows.

In [ ]:
for i in range(5):
    print( 'The count is %d' % i)
print('Good bye!')

Notice **range(5)** generate a list of $5$ values starting with 0 instead 1. In addition, 5 is not included in the list.

Here is a note on **range()** function: a strange thing happens if you just print a range:

In [ ]:
range(5)

In [ ]:
print(range(5))

In many ways the object returned by **range()** behaves as if it is a list, but in fact it isn’t. It is an object which returns the successive items of the desired sequence when you iterate over it, but it doesn’t really make the list, thus saving space. We say such an object is *iterable*. In the following example, **rangeA** is **iterable**. 

There are functions and constructs  that expect something from these objects to obtain successive items until the supply is exhausted.  The **list()** function can be used to creates lists from iterables:

In [ ]:
rangeA = range(5)
list(rangeA)

In this way, we can  print  the list generated by **range(5)** to  check the values closely.

To count from 1 to 5, we need the follo0wing:

In [ ]:
list(range(1, 6))

	
We can also add another parameter, **step**, in **range()** function. For example, a step of **2** can be used to produce a list of even numbers. 

Look at the following example.  Think about what will be the output before you run the code to check your understanding.

In [ ]:
list(range(1, 6))

In [ ]:
list(range(1, 6))

In [ ]:
list(range(0, 19, 2))

In [ ]:
list(range(0, 20, 2))

In [ ]:
list(range(10, 0, -1))

Let us return to the previous counting example, when **range()** generate the sequence of numbers, each number is assign to the loop variable **i** in each iteration. Then the block of statements is executed for each value of **i**. In the above example, we just print the value in the block of statements.

<a id = "cell_while"></a>

### 1.3  **While** statements

The **while** statement provide a much more general mechanism for iteration. It  allows you to repeatedly execute a block of statements as long as a condition is **True**. 

Similar to the **if** statement, the **while** statement uses a boolean expression to control the flow of execution. The body of **while** will be repeated as long as the condition of boolean expression equal to **True**.

Let us see how the previous counting program can be implemented by **while** statement.

In [ ]:
i = 0
while (i < 6):
    print('The count is %d' % i)
    i = i + 1
    
print('Good bye!')

How the while statement works:
1. The **while** block consists of the print and increment statements. They are executed repeatedly until count is no longer less than $6$. With each iteration, the current value of the index count is displayed and then increased by $1$. 

2. Same as **for** loop, this type of flow is also called a loop since **while** statements is executed repeatedly. Notice that if the condition is **False** at the first time through the loop, the statement inside the loop are never executed. Try change the first line into **i = 6**. What is the output?

2. In this example, we can prove  that the loop terminates because **i** start from $0$ and increase by $1$. Eventually, **i** will be great than 5. When the condition  becomes **False**,  the loop stops. 
	
3. Sometime, we will have loop that repeats forever. This is called an infinite loop. Although this kind of loop might be useful sometimes,  it is often  caused by a programming  mistake. Try to change the first two lines of previous program into  the following code. See what happen? 

Note that if you run the following cell, the code will run indefinitely. You will need to go to the menu: **Kernel->Restart**, and then restart the kernal.  

Also note that if you run such code in Python at command line or script mode, you will need to use **CTRL-C** to terminate the program.

In [ ]:
i =  6
while i > 5 :  
    print('The cound is %d' % i)
    i = i + 1
    
print('Good bye!')

<a id = "cell_break"></a>

### 1.4 **Break** statements

The **break** statement can be used to break out of a loop statement. It can be used both in **while** loop and **for** loop. 

Alternative way of previous counting example with  **break** statement is as follows:

In [ ]:
i =  0
while True :
    print( 'The count is %d' % i)
    i = i + 1
    if i > 6:
        break
        
print('Good bye!')

In this program, we repeated print value  of **i** and increase it by 1 each time. We provide a special condition to stop the program by checking if **i** is greater than 6. We then break out of the loop and continue executed the statement after the loop.  

Note that it is important to decide what the terminate condition should  be. We can see from previous counting example that the terminate condition might be different in different loop structure,.

<a id = "cell_note"></a>

### 1.5 Notes on **Python 2**

Use of **range()** function:


1. One thing to be noted is: the use of **range()** in for-loop looks the same in both \emph{Python} 2 and 3.
	 
2. While function **range()** creates an *iterable*, which can be used to produce  sequence dynamically in *Python 3*; 
	**range()** in *Python 2* creates a list. The use of  iterable object in \emph{Python} 3 is more efficient in memory wise. This is especially useful when you need a giganic range.
	
3. As you have noticed,  statement **print(range(5))** in *Python 3* will not produce a list. However,  this statement is valid in *Python 2*. For example, the following can be used to  check values of a range  in \emph{Python} 2.

>>>print(range(5))
[0, 1, 2, 3, 4, 5]

Please also note that **range()** can be safely used in both versions in a **for**-loop.

## Part 2 Using files

### 2.1 Reading files


You can open and use files for reading or writing by creating an object of the *file class*.  The *mode* that is specified for the file opening decides what you can do with the file: read, write or both. Then the file object's  **read()** or **write()** method can  be used to read from or write to the file. Finally, when you are finished with the file, you call the **close()** method to tell Python that you are done using the file. 

Here is an example. You can download the data file **score.txt**, which includes  data on students' score. The format of the data file is as follows:

Name, Student ID, Score

David 3402 80
Jane 3403 76
Sophia 3405 65
Jane 3447 92
William 3456 75

For Online platforms such as IBM Cloud, it is important for you to get familiar with the provided data storage or cloud data storage function. Alternatively, you might want to directly access the file, and load into your Notebook.

In [ ]:
!pip install wget

Then you can download the file into GPFS file system.

In [ ]:
import wget

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Jupyter/data/score.txt'
DataSet = wget.download(link_to_data)

print(DataSet)

The following example  read from the **.txt**  file and display information  on the screen. Please type the code and run it under script mode. Make sure **score.txt** are saved under your **data** folder.

In [ ]:
# scorefile = open('https://raw.githubusercontent.com/tulip-lab/sit742/master/Jupyter/data/score.txt','r')

scorefile = open('score.txt','r')

for line in scorefile:
    value = line.split()
    name = value[0]
    id = value[1]
    score = value[2]
    print('%s with ID %s has a score of %s' % (name, id, score))

How the program works:
1.   The **open()** function is used to open a file. You need to specify the name of the file and the mode in which you want to open the file. The mode can be read mode('r'), write mode('w') or append mode('a').  There are actually many more modes available. You can get more details by create a cell and typing ""open?"". Please try this in your notebook. When we finish working on the file, we  need to close the file using **close()** method. 

	
2.  To process all of the data, we use a **for** loop to iterate over the lines of the file. The **line** variable is a string that is used to store characters in each line.
	 
     
3. We use the **split()** method to break each line into a list containing all the fields of interest. We can then take the value corresponding to **name**, **id** and **score** and  print them in the sentence. To get each data item in a list, we use index with the list. e.g. values[0] will return the item of position 0 in the list.  Note that in Python the position of items in a list is starting from $0$.

### 2.2. Writing to files

One of the most commonly performed data processing tasks is to read data from a file, manipulate it in some way and then write the resulting data out to a new data file to be used for other purpose later. For creating a new file used for writing, the same **open()** function is used. Instead using 'r' mode, 'w' mode is used as the parameter. When we open a file for writing, a new, empty file with the specified  name is created and ready to accept our data. 

As an example, consider the **score.txt** data again. Assume we have request to remove the name information in the file for privacy issue. Therefore, the output file need  to have student ID with the scores separated by a comma.  Here is how we can generate the required file.

In [ ]:
infile = open('score.txt', 'r')
outfile = open('id.txt', 'w')

for line in infile:
    values = line.split()
    id = values[1]
    score = values[2]
    dataline = id + ',' + score

    outfile.write(dataline + '\n')

infile.close()
outfile.close()

You can use the print() to print file content on the console.

In [ ]:
f=open('id.txt', 'r')
message=f.read()
print(message)
f.close


How the program works:

1. We have add another **open()** method with 'w' mode. The filename **id.txt** is chosen  to store the data. If the file does not exist, it will be created. However, if the file does exist, it will be reinitialized and empty,  and any previous contents will be lost 
2. We have variable **dataline** to store what need to be write in the file. If you like, you can add 	a line **print(dataline)** to check the string value. We then call function **write()** method to write  **dataline** into the file.
3. There is one additional part we need to add when writing to file. The newline character **\n** need to be concatenated to the end of the line. Otherwise,  the text will be all in one continuous line.  
	
4. The file needs to be closed at the end.

<a id = "cell_list"></a>

## Part 3 Advanced Data

### 3.1 List

** List is a sequence**

Like a string, a *list** is a sequence of values. The values in a list can be any type. We call the values *items** of the list. To create a list, enclose the items in square brackets.

For example,

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
l = [10, 20, 30, 40]
empty = [ ]   # Initialize an empty list

In [ ]:
shoplist

In [ ]:
l

In [ ]:
empty

In [ ]:
shoplist

The elements of a list do not have to be the same type. An another  list can also be nested inside a list. 

To access the element of a list, use the bracket operator to obtain the value available at the index. Note that the indices of list start at $0$. You can also use  negative value as index, if you  counts from right. For example, the negative index of last item is $-1$.   Try  the following examples:

In [ ]:
l = [10, 20, 30, 40]

In [ ]:
l[2]

In [ ]:
l[-1]

In [ ]:
l[-3]

Here is an example of nested list:

In [ ]:
l = ['apple', 2.0, 5, [10, 20]]

In [ ]:
l[1]

In [ ]:
l[3]

In [ ]:
l[3][1]

Unlike strings, lists are mutable, which means they can be altered.  We use bracket on the left side of an assignment to assign a value to a list item.

In [ ]:
l = [10, 20, 30, 40]
l[1] = 200

In [ ]:
l

** List operation **

 **In** is used to perform membership operation. 
 The result of expression equals to **True** if  a value exists in the  list, 
 and equals to **False** otherwise.

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']

In [ ]:
'apple' in shoplist

In [ ]:
'rice' in shoplist

Similarly, **In** operator also applies to **string** type. Here are some examples:

In [ ]:
'a' in 'banana'

In [ ]:
'seed' in 'banana'    # Test if 'seed' is a substring of 'banana'

'**+**' is  used for concatenation operation, which  repeats a list a given number of times.

In [ ]:
 [10, 20, 30, 40 ] + [50, 60]

 [50, 60]*3

** List slices **
Slicing operation allows to retrieve a slice of of the list. i.e. a part of the sequence. The sliding operation uses square brackets to enclose an optional pair of numbers separated by a colon. Again,    to count the position of items  from left(first item), start from $0$. If you count the position from right(last item), start from $-1$.

In [ ]:
l = [1, 2, 3, 4]

In [ ]:
l[1:3]     # From position 1 to position 3(excluded)

In [ ]:
l[:2]     # From the beginning to position 2(excluede)

In [ ]:
l[-2:]    # From the second right  to the beginning

If you omit both the first and the second indices, the slice is a copy of the whole list.

In [ ]:
l[:]

Since lists are mutable, above expression is often useful to make a copy before modifying original list.

In [ ]:
l = [1, 2, 3, 4]
l_org = l[:]
l[0] = 8

In [ ]:
l

In [ ]:
l_org  # the original list is unchanged

** List methods **

The methods most often applied to a list include: 
- append()
- len()
- sort()
- split()
- join()

**append()** method adds a new element to the end of a list.

In [ ]:
l= [1, 2, 3, 4]

In [ ]:
l

In [ ]:
l.append(5)
l.append([6, 7])  #list [6, 7] is nested in lsit l

In [ ]:
l

 **len()** method returns the number of items of a list.

In [ ]:
l = [1, 2, 3, 4, 5]
len(l)

In [ ]:
# A list nested in another list is counted as a single item
l = [1, 2, 3, 4, 5, [6, 7]] 
len(l)

 **sort()** arranges the elements of the list from low to high.

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist.sort()

In [ ]:
shoplist

	
 It is worth noted that **sort()** method modifies the list in place, and  does not return any value. Please try the following:

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist_sorted = shoplist.sort()

In [ ]:
shoplist_sorted    # No value is returned


There is an alternative way of sorting a list. The build-in function **sorted()** returns a sorted list, and keeps the original one unchanged.

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist_sorted = sorted(shoplist)          #sorted() function return a new list

In [ ]:
shoplist_sorted

In [ ]:
shoplist

There are two frequently-used string methods that convert between lists and strings:

First, **split()** methods is used to break a string into words:

In [ ]:
s = 'I love apples'
s.split(' ')

In [ ]:
s = 'spam-spam-spam'
# A delimter '-' is specified here. It is used as word boundary
s.split('-')

Second, **joint()** is the inverse of **split**. It takes a list of strings and concatenates the elements.

In [ ]:
l = ['I', 'love', 'apples']
s = ' '.join(l)
s

How it works:

Since **join** is a string method, you have to invoke it on the *delimiter*. In this case, the delimiter is a space character. So **' '.join()** puts a space between words. The list **l** is passed to **join()** as parameter. 

For more information on list methods, type "help(list)" in your notebook.

**Traverse a list**

The most common way to traverse the items of a list is with a **for** loop. Try the following code:

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
for item in shoplist:
    print(item)

This works well if you only need to read the items of the list. However, you will need to use indices if you want to update the elements. In this case, you need to combine the function **range()** and **len()**.

In [ ]:
l = [2, 3, 5, 7]

for i in range(len(l)):
       l[i] = l[i] * 2

print(l)

How it works:

**len()** returns the number of items in the list, while **range(n)** returns a list from 0 to n - 1. By combining function  **len()** and **range()**, **i** gets the index of the next element  in each pass through the loop. The assignment statement then uses **i** to perform the operation.

<a id = "cell_tuple"></a>

### 3.2 Tuple

**  Tuple are immutable **

A **tuple** is also a sequence of values, and can be any type. Tuples and lists are very similar. The important difference is that tuples are immutable, which means they can not be changed. 

Tuples is typically used to group and organizing data into a single compound value.  For example,

In [ ]:
year_born =  ('David Hilton', 1995)
year_born

To define a tuple, we use a list of values separated by comma. 
Although it is not necessary, it is common to enclose tuples in parentheses. 

Most list operators also work on tuples. 
The bracket operator indexes an item of tuples, and the slice operator works in similar way. 

Here is how to define a tuple:

In [ ]:
t  = ( ) # Empty tuple
t

In [ ]:
t = (1) 
type(t)  # Its type is int, since no comma is following

In [ ]:
t = (1,)  # One item tuple; the item needs to be followed by a comma
type(t)

Here is how to access elements of a tuple:

In [ ]:
t = ('a', 'b', 'c', 'd')

In [ ]:
t[0]

In [ ]:
t[1:3]

But if you try to modify the elements of the tuple, you get an error.

In [ ]:
t = ('a', 'b', 'c', 'd')
t[1] = 'B'

### Tuple assignment

Tuple assignment allows a tuple of variables on the left of an assignment to be assigned values from  a tuple on the right of the assignment. 
(We already saw this type of statements in the previous prac)

For example,

In [ ]:
t = ('David', '0233', 78)
(name, id, score) = t

In [ ]:
name

In [ ]:
id

In [ ]:
score

Naturally, the number of variables on the left and the number of values on the right have to be the same.Otherwise, you will have a system error.

In [ ]:
(a, b, c, d) = (1, 2, 3)

### Lists and tuples

It is common to have a list of tuples. For loop can be used to travers the data.  For example,

In [ ]:
t = [('David', 90), ('John', 88), ('James', 70)]

for (name, score) in t:
       print(name, score)

<a id = "cell_dict"></a>

### 3.3 Dictionary

A **dictionary** is like an address-book where you can find the address or contact details of a person by knowing only his/her name. The way of achieving this is to associate **keys**(names) with **values**(details). Note that the key in a dictionary must be unique. Otherwise we are not able to locate correct information through the key. 

Also worth noted is that we can only use immutable objects(strings, tuples) for the keys, but we can use either immutable or mutable objects for the values of the dictionary. This means  we can use either a string, a tuple or a list  for dictionary values.

The following example defines a dictionary:

In [ ]:
dict = {'David': 70, 'John': 60, 'Mike': 85}
dict['David']
dict['Anne'] = 92  # add an new item in the dictionary
dict

** Traverse a dictionary **

The key-value pairs in a dictionary are **not** ordered in any manner. The following example uses **for** loop to traversal a dictionary. Notice that the keys are in no particular order.

In [ ]:
dict = {'Daid': 70, 'John': 60, 'Amy': 85}

for key in dict:
    print(key, dict[key])

However, we can sort the keys of dictionary before using it if necessary. The following example sorts the keys and stored the result in a list **sortedKey**. The **for** loop then iterates through list **sortedKey**. The items in  the dictionary can then be accessed via the names in alphabetical order. Note that dictionary's **keys()** method is used to return a list of all the available keys in the dictionary.

In [ ]:
dict = {'David': 70, 'John': 60, 'Amy': 85}
sortedKeys = sorted(dict.keys())

for key in sortedKeys:
    print(key, dict[key])